<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>唯數娛樂科技IT-system</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">唯數娛樂</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              設備
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/pages/equipment/borrowform">借用</a></li>
              {% if session['user'] == "admin@gamehours.com"%}
              <li><a class="dropdown-item" href="/pages/equipment/itemreturn">歸還</a></li>
              {% endif %}
              <li>
                <hr class="dropdown-divider" />
              </li>
              {% if session['user'] == "admin@gamehours.com"%}
              <li><a class="dropdown-item" href="/pages/equipment/add-canborrow-list">新增可出借</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="/pages/equipment/canborrow-list">借用清單</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              資產
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/pages/assets/add-assets">新增</a></li>
              <li><a class="dropdown-item" href="/pages/assets/scrapped-assets">報廢</a></li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li><a class="dropdown-item" href="/pages/assets/assets-list">清單</a></li>
              <li><a class="dropdown-item" href="/pages/assets/assets-count">盤點</a></li>
              <li><a class="dropdown-item" href="/pages/assets/firstcount-result">初盤未點到</a></li>
              <li><a class="dropdown-item" href="/pages/assets/secondcount-result">複盤未點到</a></li>
            </ul>
          </li>
          {% if session['user'] %}
          <li class="nav-item dropdown">
            <a class="dropdown-item" href="/signout">登出</a>
          </li>
          {% endif %}
      </div>
    </div>
  </nav>

  <body>
    <div class="container">
      <h1 class="text-center mt-3">請輸入要新增的資產資訊</h1>
      <div class="row d-flex justify-content-center">
        <div class="col-md-6">
          <form method="POST" action="/add-assetsup">
            <div class="mb-3">
              <label for="name" class="form-label">保管部門</label>
              <input type="text" class="form-control" name="manageteam" aria-describedby="emailHelp" required />
            </div>
            <div class="mb-3">
              <label class="form-label">保管人</label>
              <input type="text" class="form-control" name="manageman" aria-describedby="emailHelp" required />
            </div>
            <div class="mb-3">
              <label class="form-label">資產編號</label>
              <input type="text" class="form-control" name="itemnum" aria-describedby="emailHelp" required />
            </div>
            <div class="mb-3">
              <label for="borrow_time" class="form-label">資產名稱</label>
              <input type="text" class="form-control" name="item" aria-describedby="emailHelp" required />
            </div>
            <div class="mb-3">
              <label for="return_time" class="form-label">品牌</label>
              <input type="text" class="form-control" name="brand" aria-describedby="emailHelp" />
            </div>
            <div class="mb-3">
              <label class="form-label">規格型號</label>
              <input type="text" class="form-control" name="itemmodel" aria-describedby="emailHelp" />
            </div>
            <div class="mb-3">
              <label for="return_time" class="form-label">取得/購入日</label>
              <input type="datetime-local" class="form-control" name="buydate" aria-describedby="emailHelp" required />
            </div>
            <div class="mb-3">
              <label for="return_time" class="form-label">帳面數量</label>
              <input type="number" class="form-control" name="quantity" aria-describedby="emailHelp" required />
            </div>
            <div class="mb-3">
              <label for="unit" class="form-label">單位</label>
              <input type="text" class="form-control" name="unit" aria-describedby="emailHelp" required />
            </div>
            <div class="mb-3">
              <label for="place" class="form-label">放置地點</label>
              <input type="text" class="form-control" name="place" aria-describedby="emailHelp" required />
            </div>
            <div class="mb-3">
              <label for="return_time" class="form-label">備註</label>
              <input type="text" class="form-control" name="remark" aria-describedby="emailHelp" />
            </div>
            <div class="row">
              <div class="col d-flex justify-content-center">
                <button type="submit" class="d-block btn btn-primary mx-2" onclick="buttonFunction()">申請</button>
                <button type="reset" class="btn btn-secondary mx-2">重設</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"></script>
    <script>
      function buttonFunction() {
        alert("添加資產清單成功");
      }

    </script>
  </body>

</html>