<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>唯數娛樂科技IT-system</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">唯數娛樂</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              設備
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/pages/equipment/borrowform">借用</a></li>
              {% if session['user'] == "admin@gamehours.com"%}
              <li><a class="dropdown-item" href="/pages/equipment/itemreturn">歸還</a></li>
              {% endif %}
              <li>
                <hr class="dropdown-divider" />
              </li>
              {% if session['user'] == "admin@gamehours.com"%}
              <li><a class="dropdown-item" href="/pages/equipment/add-canborrow-list">新增可出借</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="/pages/equipment/canborrow-list">借用清單</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              資產
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/pages/assets/add-assets">新增</a></li>
              <li><a class="dropdown-item" href="/pages/assets/scrapped-assets">報廢</a></li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li><a class="dropdown-item" href="/pages/assets/assets-list">清單</a></li>
              <li><a class="dropdown-item" href="/pages/assets/assets-count">盤點</a></li>
              <li><a class="dropdown-item" href="/pages/assets/firstcount-result">初盤未點到</a></li>
              <li><a class="dropdown-item" href="/pages/assets/secondcount-result">複盤未點到</a></li>
            </ul>
          </li>
          {% if session['user'] %}
          <li class="nav-item dropdown">
            <a class="dropdown-item" href="/signout">登出</a>
          </li>
          {% endif %}
      </div>
    </div>
  </nav>
  <!-- <h3 class="text-center mt-3">目前尚未盤點到的資產如下 - 共{{ notcountassetscount }}筆</h3> -->
  <div class="container">
    <h3 class="text-center mt-3">請輸入初盤點到的資產編號</h3>
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        <form method="POST" action="/assets-countup">
          <div class="mb-3">
            <label for="name" class="form-label">資產編號</label>
            <input type="text" class="form-control" name="itemnum" aria-describedby="emailHelp" />
          </div>
          <div class="row">
            <div class="col d-flex justify-content-center">
              <button type="submit" class="d-block btn btn-primary mx-2">送出</button>
              <button type="submit" class="btn btn-secondary mx-2"
                formAction="/pages/assets/reset-assetscount-list">清除本次初盤點紀錄</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <h3 class="text-center mt-3">請輸入複盤點到的資產編號</h3>
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        <form method="POST" action="/assets-secondcountup">
          <div class="mb-3">
            <label for="name" class="form-label">資產編號</label>
            <input type="text" class="form-control" name="itemnum" aria-describedby="emailHelp" />
          </div>
          <div class="row">
            <div class="col d-flex justify-content-center">
              <button type="submit" class="d-block btn btn-primary mx-2">送出</button>
              <button type="submit" class="btn btn-secondary mx-2"
                formAction="/pages/assets/reset-assetssecondcount-list">清除本次複盤點紀錄</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="">
    <table class="table table-striped table-hover" id="myTable">
      <thead>
        <tr>
          <th>保管部門</th>
          <th>保管人</th>
          <th>資產編號</th>
          <th>資產名稱</th>
          <th>品牌</th>
          <th>規格型號</th>
          <th>取得/購入日</th>
          <th>帳面數量</th>
          <th>單位</th>
          <th>初盤數</th>
          <th>複盤數</th>
          <th>放置地點</th>
          <th>備註</th>
        </tr>
      </thead>
      <tbody>

        {% for notcountassets in notcountassets_list %}
        <tr>
          <td>{{ notcountassets['manageteam'] }}</td>
          <td>{{ notcountassets['manageman'] }}</td>
          <td>{{ notcountassets['itemnum'] }}</td>
          <td>{{ notcountassets['item'] }}</td>
          <td>{{ notcountassets['brand'] }}</td>
          <td>{{ notcountassets['itemmodel'] }}</td>
          <td>{{ notcountassets['buydate'] }}</td>
          <td>{{ notcountassets['quantity'] }}</td>
          <td>{{ notcountassets['unit'] }}</td>
          <td>{{ notcountassets['firstcount'] }}</td>
          <td>{{ notcountassets['secondcount'] }}</td>
          <td>{{ notcountassets['place'] }}</td>
          <td>{{ notcountassets['remark'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- <div class="">
    <table class="table table-striped table-hover" id="myTable">
      <thead>

        <tr>
          <th>保管部門</th>
          <th>保管人</th>
          <th>資產編號</th>
          <th>資產名稱</th>
          <th>品牌</th>
          <th>規格型號</th>
          <th>取得/購入日</th>
          <th>初盤數</th>
          <th>複盤數</th>
          <th>帳面數量</th>
          <th>放置地點</th>
        <tr>
      </thead>
      <tbody>
        {% for notcountassets in notcountassets_list %}
        <td>{{ notcountassets['manageteam'] }}</td>
        <td>{{ notcountassets['manageman'] }}</td>
        <td>{{ notcountassets['itemnum'] }}</td>
        <td>{{ notcountassets['item'] }}</td>
        <td>{{ notcountassets['brand'] }}</td>
        <td>{{ notcountassets['itemmodel'] }}</td>
        <td>{{ notcountassets['buydate'] }}</td>
        <td>{{ notcountassets['firstcount'] }}</td>
        <td>{{ notcountassets['secondcount'] }}</td>
        <td>{{ notcountassets['quantity'] }}</td>
        <td>{{ notcountassets['place'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div> -->
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<script type="text/javascript">
  $(document).ready(function () {
    var config = {
      "columnDefs": [{ "width": "10%", "targets": 0 }],
      "lengthMenu": [10, 15, 20],
      "language": {
        'lengthMenu': '顯示 _MENU_ 筆',
        'zeroRecords': '無資料',
        'info': '第 _START_ ~ _END_ 筆，共 _TOTAL_ 筆',
        'search': '搜尋:',
        'processing': '處理中...',
        'paginate': {
          'first': '<<',
          'last': '>>',
          'next': '>',
          'previous': '<'
        }
      },
    };

    $('#myTable').DataTable(config);
  });
</script>

</body>

</html>