<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>唯數娛樂科技IT-system</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">唯數娛樂</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            設備
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/pages/equipment/borrowform">借用</a></li>
                            {% if session['user'] == "morris830114@gmail.com"%}
                            <li><a class="dropdown-item" href="/pages/equipment/itemreturn">歸還</a></li>
                            {% endif %}
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            {% if session['user'] == "morris830114@gmail.com"%}
                            <li><a class="dropdown-item" href="/pages/equipment/add-canborrow-list">新增可出借</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="/pages/equipment/canborrow-list">可出借</a></li>
                            <li><a class="dropdown-item" href="/pages/equipment/borrow">已出借</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            資產
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/pages/assets/add-assets">新增</a></li>
                            <li><a class="dropdown-item" href="/pages/assets/scrapped-assets">報廢</a></li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li><a class="dropdown-item" href="/pages/assets/assets-list">清單</a></li>
                            <li><a class="dropdown-item" href="/pages/assets/assets-count">盤點</a></li>
                        </ul>
                    </li>
                    {% if session['user'] == "morris830114@gmail.com"%}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Devops-日常運維
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item active">平台更新</a></li>
                            <li><a class="dropdown-item" href="#">台灣平台</a></li>
                            <li><a class="dropdown-item" href="#">日本平台</a></li>
                            <li><a class="dropdown-item" href="#">新馬平台</a></li>
                            <li><a class="dropdown-item active">遊戲新增伺服器</a></li>
                            <li><a class="dropdown-item" href="#">台灣斗羅(GCP)</a></li>
                            <li><a class="dropdown-item" href="#"></a></li>
                            <li><a class="dropdown-item" href="#"></a></li>
                            <li>
                        </ul>
                    </li>
                    {% endif %}
                    {% if session['user'] == "morris830114@gmail.com"%}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Devops-常用指令
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/pages/devops-command-line/linux">Linux</a></li>
                            <li><a class="dropdown-item" href="#">Windows</a></li>
                            <li><a class="dropdown-item" href="#">Docker</a></li>
                            <li><a class="dropdown-item" href="#">Datebase</a></li>
                            <li><a class="dropdown-item" href="#">Nginx</a></li>
                    </li>
                </ul>
                {% endif %}
                {% if session['user'] == "morris830114@gmail.com"%}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Devops-環境設定
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Nginx</a></li>
                        <li><a class="dropdown-item" href="#">Nagios</a></li>
                        <li><a class="dropdown-item" href="#">Ansible</a></li>
                </li>
                </ul>
                {% endif %}
                {% if session['user'] == "morris830114@gmail.com"%}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Devops-遊戲專案
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item active">已上線</a></li>
                        <li><a class="dropdown-item" href="#">新斗羅大陸(台灣)</a></li>
                        <li><a class="dropdown-item" href="#">新斗羅大陸(新馬)</a></li>
                        <li><a class="dropdown-item" href="#">拂曉(日本)</a></li>
                        <li><a class="dropdown-item active">待上線</a></li>
                        <li><a class="dropdown-item" href="#">奇緣之旅(日本)</a></li>
                        <li><a class="dropdown-item" href="#">光與夜之戀</a></li>
                </li>
                </ul>
                {% endif %}
                {% if session['user'] %}
                <li class="nav-item dropdown">
                    <a class="dropdown-item" href="/signout">登出</a>
                </li>
                {% endif %}
            </div>
        </div>
    </nav>
    <h1 class="text-center mt-3">常用Linux指令</h1>

    <ul class="list-group">
        <li class="list-group-item active">硬體相關</li>
        <li class="list-group-item">查看硬碟#lsblk -a</li>
        <li class="list-group-item">查看硬碟#df -h</li>
        <li class="list-group-item">查看剩餘記憶體#free</li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item active">使用者相關</li>
        <li class="list-group-item">新增使用者#adduser $username</li>
        <li class="list-group-item">修改使用者密碼#passwd $username</li>
        <li class="list-group-item">刪除使用者#userdel -r $username</li>
        <li class="list-group-item">新增群組#addgroup $groupname</li>
        <li class="list-group-item">新增群組#groupdel $groupname</li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item active">程序相關</li>
        <li class="list-group-item">查看正在運行的程序#ps -ef </li>
        <li class="list-group-item">查看特定在運行的程序ps -aux | grep $service_name </li>
        <li class="list-group-item">強制中止程序#kill -9 $PID </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item active">firewall相關</li>
        <li class="list-group-item">查看firewall目前設定#sudo firewall-cmd --list-all </li>
        <li class="list-group-item">開啟firewall 特定服務port#sudo firewall-cmd --add-service=http --permanent </li>
        <li class="list-group-item">開啟firewall 特定ip可以ssh連線#sudo firewall-cmd --add-rich-rule="rule family="ipv4"
            source address="140.112.13.0/24" service name="ssh" accept" --permanent</li>
        <li class="list-group-item">如果都直接使用 --permanent 參數，則目前的設定並不會受影響，可以用 reload 載入#sudo firewall-cmd --reload
        </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item active">壓縮/解壓縮檔案指令</li>
        <li class="list-group-item list-group-item-secondary">.tar </li>
        <li class="list-group-item">壓縮#tar cvf $FileName.tar $DirName </li>
        <li class="list-group-item">解壓縮#tar xvf $FileName.tar </li>
        <li class="list-group-item list-group-item-secondary">.gz </li>
        <li class="list-group-item">壓縮#gzip $FileName </li>
        <li class="list-group-item">解壓縮#gunzip $FileName.gz </li>
        <li class="list-group-item list-group-item-secondary">.tar.gz</li>
        <li class="list-group-item">壓縮#tar zcvf $FileName.tar.gz $DirName </li>
        <li class="list-group-item">解壓縮#tar zxvf $FileName.tar.gz </li>
        <li class="list-group-item list-group-item-secondary">.tgz</li>
        <li class="list-group-item">壓縮#tar zcvf $FileName.tgz $FileName </li>
        <li class="list-group-item">解壓縮#tar zxvf $FileName.tgz </li>
        <li class="list-group-item list-group-item-secondary">.zip</li>
        <li class="list-group-item">壓縮#zip -r $FileName.zip $DirName </li>
        <li class="list-group-item">解壓縮#unzip $FileName.zip </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item active">檔案相關</li>
        <li class="list-group-item">找尋檔案大小超過一定大小的話刪除#find . -type f -name '*.mp3' -size +10M -exec rm -f {} \; </li>
        <li class="list-group-item">尋找超過7天沒有被存取或修改過的檔案#find $HOME -type f -atime +7 </li>
        <li class="list-group-item">尋找曾經在7天內被存取或修改過的檔案#find $HOME -type f -atime -7 </li>
        <li class="list-group-item">尋找超過10分鐘沒有被存取或修改過的檔案#find $HOME -type f -amin +10</li>
        <li class="list-group-item">尋找曾經在10分鐘內被存取或修改過的檔案#find $HOME -type f -amin -10</li>
        <li class="list-group-item">尋找檔案建立時間已超過30天的檔案#find $HOME -type f -ctime +30</li>
        <li class="list-group-item">清空檔案內容#cat /dev/null > $FileName</li>
        <li class="list-group-item">將檔案設定為所有人皆可讀取#chmod ugo+r $FileName</li>
        <li class="list-group-item">取代檔案內文字#sed -i "s/$檔案內要被取代的字串/$要取代的字串/g" $FileName</li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item active">SSH-KEY相關</li>
        <li class="list-group-item">產生ssh key#ssh-keygen </li>
        <li class="list-group-item">ssh-key路徑#~/.ssh </li>
        <li class="list-group-item">ssh-key檔案權限#chmod 600 authorized_keys </li>
        <li class="list-group-item">ssh-key資料夾權限#chmod 700 ~/.ssh </li>
        <li class="list-group-item">重啟ssh服務#systemctl restart sshd.service </li>
    </ul>






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <script>
        function buttonFunction() {
            alert("添加資產清單成功");
        }

    </script>
</body>

</html>