<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>唯數娛樂科技IT-system</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">唯數娛樂</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              設備
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/pages/equipment/borrowform">借用</a></li>
              {% if session['user'] == "admin@gamehours.com"%}
              <li><a class="dropdown-item" href="/pages/equipment/itemreturn">歸還</a></li>
              {% endif %}
              <li>
                <hr class="dropdown-divider" />
              </li>
              {% if session['user'] == "admin@gamehours.com"%}
              <li><a class="dropdown-item" href="/pages/equipment/add-canborrow-list">新增可出借</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="/pages/equipment/canborrow-list">借用清單</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              資產
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/pages/assets/add-assets">新增</a></li>
              <li><a class="dropdown-item" href="/pages/assets/scrapped-assets">報廢</a></li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li><a class="dropdown-item" href="/pages/assets/assets-list">清單</a></li>
              <li><a class="dropdown-item" href="/pages/assets/assets-count">盤點</a></li>
              <li><a class="dropdown-item" href="/pages/assets/firstcount-result">初盤未點到</a></li>
              <li><a class="dropdown-item" href="/pages/assets/secondcount-result">複盤未點到</a></li>
            </ul>
          </li>
          {% if session['user'] %}
          <li class="nav-item dropdown">
            <a class="dropdown-item" href="/signout">登出</a>
          </li>
          {% endif %}
      </div>
    </div>
  </nav>
  <div class="container">
    <h1 class="text-center mt-3">設備借用申請</h1>
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        <form method="POST" action="/borrowup">
          <div class="mb-3">
            <label for="name" class="form-label">租借人姓名</label>
            <input type="text" class="form-control" name="name" aria-describedby="emailHelp" required />
          </div>
          <div class="mb-3">
            <label class="form-label">借出項目</label>
            <select class="form-select" name="item" aria-label="Default select example">
              <option value="筆記型電腦" selected>筆記型電腦</option>
              <!-- <option value="桌機">桌機</option> -->
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label">項目資產編號</label>
            <select class="form-select" name="itemnum" required>
              <option value="">請選擇</option>
              {% for num in itemnumlist %}
              <option>{{ num['itemnum'] }}<br /><br /></option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-3">
            <label for="borrow_time" class="form-label">借用時間</label>
            <input type="datetime-local" class="form-control" name="borrowtime" aria-describedby="emailHelp" required />
          </div>
          <div class="mb-3">
            <label for="return_time" class="form-label">預計歸還時間</label>
            <input type="datetime-local" class="form-control" name="returntime" aria-describedby="emailHelp" required />
          </div>
          <div class="mb-3">
            <label class="form-label">承辦人員</label>
            <select class="form-select" name="itname" required>
              <option value="">請選擇承辦IT人員</option>
              <option value="許朝鐘">許朝鐘</option>
              <option value="李政勳">李政勳</option>
              <option value="簡世豪">簡世豪</option>
            </select>
          </div>
          <div class="row">
            <div class="col d-flex justify-content-center">
              <button type="submit" class="d-block btn btn-primary mx-2" onclick="buttonFunction()">申請</button>
              <button type="reset" class="btn btn-secondary mx-2">重設</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
  <script>
    const dateInput = document.querySelector('#date')
    dateInput.value = new Date().toLocaleDateString()
  </script>
  <script>
    function buttonFunction() {
      alert("申請借用成功");
    }

  </script>
</body>

</html>