<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>唯數娛樂科技IT-system</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">唯數娛樂</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              設備
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/pages/equipment/borrowform">借用</a></li>
              {% if session['user'] == "admin@gamehours.com"%}
              <li><a class="dropdown-item" href="/pages/equipment/itemreturn">歸還</a></li>
              {% endif %}
              <li>
                <hr class="dropdown-divider" />
              </li>
              {% if session['user'] == "admin@gamehours.com"%}
              <li><a class="dropdown-item" href="/pages/equipment/add-canborrow-list">新增可出借</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="/pages/equipment/canborrow-list">借用清單</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              資產
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/pages/assets/add-assets">新增</a></li>
              <li><a class="dropdown-item" href="/pages/assets/scrapped-assets">報廢</a></li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li><a class="dropdown-item" href="/pages/assets/assets-list">清單</a></li>
              <li><a class="dropdown-item" href="/pages/assets/assets-count">盤點</a></li>
              <li><a class="dropdown-item" href="/pages/assets/firstcount-result">初盤未點到</a></li>
              <li><a class="dropdown-item" href="/pages/assets/secondcount-result">複盤未點到</a></li>
            </ul>
          </li>
          {% if session['user'] %}
          <li class="nav-item dropdown">
            <a class="dropdown-item" href="/signout">登出</a>
          </li>
          {% endif %}
      </div>
    </div>
  </nav>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <h3 class="text-center mt-3">可借出/已借出設備清單</h3>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>保管部門</th>
        <th>保管人</th>
        <th>資產編號</th>
        <th>項目</th>
        <th>品牌</th>
        <th>規格</th>
        <th>記憶體</th>
        <th>安裝office</th>
        <th>作業系統</th>
        <th>硬碟</th>
        <th>借用狀態</th>
        <th>借用人</th>
        <th>借用時間</th>
        <th>預計歸還時間</th>
        <th>承辦IT人員</th>
      </tr>
      {% for info in info_list %}
      <tr>
        <td>{{ info['manageteam'] }}</td>
        <td>{{ info['manageman'] }}</td>
        <td>{{ info['itemnum'] }}</td>
        <td>{{ info['item'] }}</td>
        <td>{{ info['brand'] }}</td>
        <td>{{ info['itemmodel'] }}</td>
        <td>{{ info['RAM'] }}</td>
        <td>{{ info['installoffice'] }}</td>
        <td>{{ info['OS'] }}</td>
        <td>{{ info['disk'] }}</td>
        <td>{{ info['status']}}</td>
        <td>{{ info['borrowman']}}</td>
        <td>{{ info['borrowtime']}}</td>
        <td>{{ info['returntime']}}</td>
        <td>{{ info['itman']}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
</body>

</html>