<!DOCTYPE HTML>
<html>

<head>
	<title>唯數娛樂科技IT-system</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
	<noscript>
		<link rel="stylesheet" href="{{ url_for('static', filename='noscript.css') }}" />
	</noscript>
</head>

<body class="is-preload">
	<div id="wrapper">
		<div id="bg"></div>
		<div id="overlay"></div>
		<div id="main">
			<!-- Header -->
			<header id="header">
				<h1>唯數娛樂科技IT-system</h1>
				{% if session['user'] %}
				<p>目前剩餘可借出筆電:{{ pcamount }}台</p>
				<p>目前IT部門總資產清單共:{{ assetscount }}筆</p>
				{% endif %}
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="col-md-5">
							{% if 'user' not in session %}
							<form method="POST" action="/signin">
								<div class="mb-2">
									<label for="userlogin" class="form-label">帳號</label>
									<input type="email" class="form-control" name="email" aria-describedby="emailHelp"
										placeholder="帳號為公司信箱" />
								</div>
								<div class="mb-2">
									<label for="InputPassword" class="form-label">密碼</label>
									<input type="password" class="form-control" name="password"
										placeholder="密碼為公司信箱密碼" />
								</div>
								<button type="submit" class="btn btn-primary">登入</button>
								<button type="submit" class="btn btn-primary"><a
										href="/register">首次登入</span></a></button>
								<!-- <button type="submit" class="btn btn-primary"><a
										href="/resetpwd">忘記密碼</span></a></button> -->
							</form>
							<!-- <button type="submit" class="btn btn-primary"><a href="/resetpwd">新使用者登入</span></a></button>
							<button type="submit" class="btn btn-primary"><a href="/resetpwd">忘記密碼</span></a></button> -->
							{% endif %}

							{% if session['user'] %}
							<nav>
								<li><a href="/pages/equipment/borrowform">設備借用</span></a></li>
								<li><a href="/pages/equipment/itemreturn">設備歸還</a></li>
								<li><a href="/pages/equipment/canborrow-list">可借出設備</span></a></li>
								{% if session['user'] == "morris830114@gamehours.com"%}
								<li><a href="/pages/equipment/add-canborrow-list">新增可出借</a></li>
								{% endif %}
								<li><a href="/pages/assets/assets-list">資產清單</span></a></li>
								<li><a href="/pages/assets/assets-count">資產盤點</span></a></li>
								<li><a href="/pages/assets/add-assets">資產新增</span></a></li>
								<li><a href="/pages/assets/scrapped-assets">資產報廢</span></a></li>
								{% if session['user'] == "admin@gamehours.com"%}
								<li><a href="/resetpwd">密碼變更</a></li>
								{% endif %}
							</nav>
							{% endif %}
			</header>
			<footer id="footer">
				<span class="copyright">&copy; 唯數娛樂科技: <a href="https://www.gamehours.com/">gamehours.com.tw</a>-{{
					member }}</span>
			</footer>
		</div>
	</div>
	<script>
		window.onload = function () { document.body.classList.remove('is-preload'); }
		window.ontouchmove = function () { return false; }
		window.onorientationchange = function () { document.body.scrollTop = 0; }

		src = "https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
		integrity = "sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
		crossorigin = "anonymous"   
	</script>
</body>

</html>