<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>唯數娛樂科技IT-system</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">唯數娛樂</a>
        </div>
    </nav>
    <div class="container">
        <h1 class="text-center mt-3">重設密碼</h1>
        <h3 class="text-center mt-3">請輸入要修改的帳號</h3>
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <form method="POST" action="/resetpwdup">
                    <div class="mb-3">
                        <label for="name" class="form-label">帳號</label>
                        <input type="text" class="form-control" name="email" aria-describedby="emailHelp"
                            placeholder="帳號為公司信箱" required />
                    </div>
                    <h3 class="text-center mt-3">請輸入新密碼</h3>
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-6">
                            <form method="POST" action="/resetpwdup">
                                <div class="mb-3">
                                    <label for="name" class="form-label">密碼</label>
                                    <input type="text" class="form-control" name="password" aria-describedby="emailHelp"
                                        required />
                                </div>
                                <div class="row">
                                    <div class="col d-flex justify-content-center">
                                        <button type="submit" class="d-block btn btn-primary mx-2">送出</button>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
            <h4 class="text-center mt-3">{{ error }}</h4>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
    </script>

</html>